/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

/* Parent Container/s */
/* Total Parent Container */
body {
  /* border: 3px solid white; */
  background-image: url(./assets/burger-friends.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}
/* Cards Parent Container */
.cards {
  /* border: 3px solid rebeccapurple; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

/* Children Containers */
/* Header */
header {
  /* border: 3px solid forestgreen; */
  background-color: #0fb9b1;
  padding: 15px;
}

/* Card Child Sections */
.choose-dish,
.show-recipes {
  background-color: rgba(225, 225, 225, .9);
  /* border: 3px solid limegreen; */
  max-width: 300px;
  max-height: 300px;
  flex: 1;
  margin: 40px;
  padding: 1.5em;
}

.show-recipes img {
  /* width: auto; */
  aspect-ratio: 1;
  object-fit: scale-down;
}

h3 {
  font-weight: bold;
}

label {
  font-size: 15px;
}

span {
  color: #ee5253;
}

button {
  border: none;
  border-radius: 7%;
  background-color: #0fb9b1;
  margin-top: 10px;
  padding: 8px 40px 8px 40px;
  font-weight: lighter;
  font-size: 11px;
}
